# {{ansible_managed}}

if $syslogfacility-text == 'local5' then /var/log/haproxy.log

{% if swift_syslog_role is not defined or swift_syslog_role != 'server' %}
local5.* @{{swift_syslog_ip}}
{% endif %}

