/var/log/swift/*.log
/var/log/swift/*.err
{
        rotate 7
        daily
        missingok
        delaycompress
        compress
        postrotate
                reload rsyslog >/dev/null 2>&1 || true
        endscript
}
