{% if swift_collectd_host %}
LoadPlugin network
<Plugin network>
       # server setup:
       {% if swift_collectd_host == inventory_hostname %}
       Listen "{{swift_collectd_host_bind}}" "25826"
       TimeToLive 128
       {% else %}
       # client setup:
       Server {{swift_collectd_ip}} "25826"
       {% endif %}

       # statistics about the network plugin itself
       ReportStats false

       # "garbage collection"
       CacheFlush 1800
</Plugin>
{% endif %}