#   Apply to the whole broker
server
    timeout = {{swift_zbroker_client_timeout}}        #   Client connection timeout
    background = 0      #   Run as background process
    workdir = /         #   Working directory for daemon
    animate = 1         #   extended debugging
    # lockfile = /var/run/zbroker.pid
    # user = swift
    # group = swift

zyre
    port = 5670
    interval = 250
    name = {{inventory_hostname}}
#    interface = {{swift_zbroker_interface}}

zpipes_server
    echo = binding zpipes service to 'ipc://@/zpipes/local'
    bind
        endpoint = ipc://@/zpipes/local


