#!/bin/sh

[ "$IFACE" = "{{ecmp_vip_interface}}" ] || exit 0

ebtables -A OUTPUT -p arp --arp-opcode=2 --arp-ip-src={{ecmp_ip}} -j DROP
ip addr add {{ecmp_ip}}/32 dev {{ecmp_vip_interface}}
route add {{ecmp_ip}}/32 dev {{ecmp_vip_interface}}
