[DEFAULT]
{% if swift_alert_method == 'pagerduty' %}
pagerduty_domain = {{swift_pagerduty_domain}}
service_key = {{swift_pagerduty_service_key}}
alerter = pagerduty
secondary_alerter = collectd
log_alerts = true
log_logfile = true
log_level = INFO
log_dir = {{swift_alert_log_path}}

{% else %}
alerter = collectd
{% endif %}

[monitor-diskutil]
mount_path = /srv/node
alert_threshold = 80
interval = 600

[monitor-dispersion]
interval = 300
