[dispersion]
auth_url = {{swift_auth_url}}
auth_user = {{swift_dispersion_tenant}}:{{swift_dispersion_user}}
auth_key = {{swift_dispersion_key}}
auth_version = {{swift_auth_version}}
dispersion_coverage = {{swift_dispersion_coverage}}
retries = {{swift_dispersion_retries}}
concurrency = {{swift_dispersion_concurrency}}
# dump_json = no
