<VirtualHost *:80>
  ServerAdmin webmaster@localhost
  ProxyRequests Off
  ProxyPreserveHost On
  ProxyVia On
  DocumentRoot "{{ zwift_apache_docroot }}"

  <Directory />
    Options FollowSymLinks
    AllowOverride None
  </Directory>

  <Directory "{{ zwift_apache_docroot }}">
    Options Indexes FollowSymlinks Multiviews
    AllowOverride None
    Order allow,deny
    allow from all
  </Directory>

  <Directory "{{ zwift_ui_docroot }}">
    Options Indexes FollowSymlinks Multiviews
    AllowOverride None
    Order allow,deny
    allow from all
  </Directory>

  ErrorLog ${APACHE_LOG_DIR}/error.log

  LogLevel warn

  CustomLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>
