#
# {{ansible_managed}}
#

[DEFAULT]
backlog = 4096
bind_ip = 0.0.0.0
bind_port = 6002
db_preallocation = off
devices = /srv/node
disable_fallocate = false
fallocate_reserve = 0
log_statsd_default_sample_rate = 1.0
log_statsd_host = {{ swift_statsd_ip }}
log_statsd_metric_prefix = {{ ansible_hostname }}
log_statsd_port = 8125
log_statsd_sample_rate_factor = 1.0
swift_dir = /etc/swift
user = swift
workers = {{ ansible_processor_cores }}

[account-auditor]
accounts_per_second = 100
interval = 1800
log_facility = LOG_LOCAL2

[account-reaper]
concurrency = 2
conn_timeout = 0.5
delay_reaping = 604800
interval = 3600
log_facility = LOG_LOCAL2
node_timeout = 10

[account-replicator]
concurrency = 4
conn_timeout = 0.5
error_suppression_interval = 60
error_suppression_limit = 10
interval = 30
log_facility = LOG_LOCAL2
max_diffs = 100
node_timeout = 10
per_diff = 10000
reclaim_age = 604800
run_pause = 30

[app:account-server]
log_facility = LOG_LOCAL1
use = egg:swift#account

[filter:healthcheck]
use = egg:swift#healthcheck

[filter:recon]
log_facility = LOG_LOCAL2
recon_cache_path = /var/cache/swift
recon_lock_path = /var/lock/swift
use = egg:swift#recon

[pipeline:main]
pipeline = healthcheck recon account-server
